
<div class="publication" data-author="Lydia Hadjeras;Benjamin Heiniger;Sandra Maaß;Robina Scheuer;Rick Gelhausen;Saina Azarderakhsh;Susanne Barth-Weber;Rolf Backofen;Dorte Becher;Christian H. Ahrens;Cynthia M. Sharma" data-journal="Microlife" data-year="2023">
    <div class="title" name="Hadjeras_Heiniger_Maass-Unrav_the_small-2023">
        <a href="10.1093/femsml/uqad012">Unraveling the small proteome of the plant symbiont <i>Sinorhizobium</i> meliloti by ribosome profiling and proteogenomics</a>
    </div>
    <div class="authors">
        Lydia Hadjeras, Benjamin Heiniger, Sandra Maaß, Robina Scheuer, Rick Gelhausen, Saina Azarderakhsh, Susanne Barth-Weber, Rolf Backofen, Dorte Becher, Christian H. Ahrens, Cynthia M. Sharma and Elena Evguenieva-Hackenberg
    </div>
    <div class="journal">
        Microlife, 2023
    </div>
    <div class="link">
        <a href="10.1093/femsml/uqad012">10.1093/femsml/uqad012</a>
    </div>
</div>
<div class="publication" data-author="Lydia Hadjeras;Jürgen Bartel;Lisa-Katharina Maier;Sandra Maaß;Verena Vogel;Sarah L. Svensson;Florian Eggenhofer;Rick Gelhausen;Teresa Müller;Omer S. Alkhnbashi;Rolf Backofen;Dorte Becher;Cynthia M. Sharma" data-journal="Microlife" data-year="2023">
    <div class="title" name="Hadjeras_Bartel_Maier-Revea_the_small-2023">
        <a href="10.1093/femsml/uqad001">Revealing the small proteome of <i>Haloferax</i> volcanii by combining ribosome profiling and small-protein optimized mass spectrometry</a>
    </div>
    <div class="authors">
        Lydia Hadjeras, Jürgen Bartel, Lisa-Katharina Maier, Sandra Maaß, Verena Vogel, Sarah L. Svensson, Florian Eggenhofer, Rick Gelhausen, Teresa Müller, Omer S. Alkhnbashi, Rolf Backofen, Dorte Becher, Cynthia M. Sharma and Anita Marchfelder
    </div>
    <div class="journal">
        Microlife, 2023
    </div>
    <div class="link">
        <a href="10.1093/femsml/uqad001">10.1093/femsml/uqad001</a>
    </div>
</div>
