
<div class="publication" data-author="Simon Bray;John Chilton;Matthias Bernt;Nicola Soranzo;Marius van den Beek;Bérénice Batut;Helena Rasche;Martin Cech;Peter J. A. Cock;Björn Grüning" data-journal="Genome Res" data-year="2023">
    <div class="title" name="Bray_Chilton_Bernt-The_Plane_toolk-2023">
        <a href="https://doi.org/10.1101/gr.276963.122">The Planemo toolkit for developing, deploying, andexecuting scientific data analyses in Galaxy and beyond</a>
    </div>
    <div class="authors">
        Simon Bray, John Chilton, Matthias Bernt, Nicola Soranzo, Marius van den Beek, Bérénice Batut, Helena Rasche, Martin Cech, Peter J. A. Cock, Björn Grüning and Anton Nekrutenko
    </div>
    <div class="journal">
        Genome Res, 2023
    </div>
    <div class="link">
        <a href="https://doi.org/10.1101/gr.276963.122">10.1101/gr.276963.122</a>
    </div>
</div>
<div class="publication" data-author="Lydia Hadjeras;Jürgen Bartel;Lisa-Katharina Maier;Sandra Maaß;Verena Vogel;Sarah L. Svensson;Florian Eggenhofer;Rick Gelhausen;Teresa Müller;Omer S. Alkhnbashi;Rolf Backofen;Dörte Becher;Cynthia M. Sharma" data-journal="Microlife" data-year="2023">
    <div class="title" name="Hadjeras_Bartel_Maier-Revea_the_small-2023">
        <a href="https://doi.org/10.1093/femsml/uqad001">Revealing the small proteome of Haloferax volcanii bycombining ribosome profiling and small-protein optimizedmass spectrometry</a>
    </div>
    <div class="authors">
        Lydia Hadjeras, Jürgen Bartel, Lisa-Katharina Maier, Sandra Maaß, Verena Vogel, Sarah L. Svensson, Florian Eggenhofer, Rick Gelhausen, Teresa Müller, Omer S. Alkhnbashi, Rolf Backofen, Dörte Becher, Cynthia M. Sharma and Anita Marchfelder
    </div>
    <div class="journal">
        Microlife, 2023
    </div>
    <div class="link">
        <a href="https://doi.org/10.1093/femsml/uqad001">10.1093/femsml/uqad001</a>
    </div>
</div>
<div class="publication" data-author="Lydia Hadjeras;Benjamin Heiniger;Sandra Maaß;Robina Scheuer;Rick Gelhausen;Saina Azarderakhsh;Susanne Barth-Weber;Rolf Backofen;Dörte Becher;Christian H. Ahrens;Cynthia M. Sharma" data-journal="Microlife" data-year="2023">
    <div class="title" name="Hadjeras_Heiniger_Maass-Unrav_the_small-2023">
        <a href="https://doi.org/10.1093/femsml/uqad012">Unraveling the small proteome of the plant symbiontSinorhizobium meliloti by ribosome profiling andproteogenomics</a>
    </div>
    <div class="authors">
        Lydia Hadjeras, Benjamin Heiniger, Sandra Maaß, Robina Scheuer, Rick Gelhausen, Saina Azarderakhsh, Susanne Barth-Weber, Rolf Backofen, Dörte Becher, Christian H. Ahrens, Cynthia M. Sharma and Elena Evguenieva-Hackenberg
    </div>
    <div class="journal">
        Microlife, 2023
    </div>
    <div class="link">
        <a href="https://doi.org/10.1093/femsml/uqad012">10.1093/femsml/uqad012</a>
    </div>
</div>
<div class="publication" data-author="Rick Gelhausen;Teresa Müller;Sarah L Svensson;Omer S Alkhnbashi;Cynthia M Sharma;Florian Eggenhofer" data-journal="Briefings in Bioinformatics" data-year="2022">
    <div class="title" name="riboreport2022">
        <a href="https://doi.org/10.1093/bib/bbab549">RiboReport - benchmarking tools for ribosome profiling-based identification of open reading frames in bacteria</a>
    </div>
    <div class="authors">
        Rick Gelhausen, Teresa Müller, Sarah L Svensson, Omer S Alkhnbashi, Cynthia M Sharma, Florian Eggenhofer and Rolf Backofen
    </div>
    <div class="journal">
        Briefings in Bioinformatics, 2022
    </div>
    <div class="link">
        <a href="https://doi.org/10.1093/bib/bbab549">10.1093/bib/bbab549</a>
    </div>
</div>
<div class="publication" data-author="Dominika Grzejda;Jana Mach;Johanna Aurelia Schweizer;Barbara Hummel;Andrew Mischa Rezansoff;Florian Eggenhofer;Amol Panhale;Maria-Eleni Lalioti;Nina Cabezas Wallscheid;Rolf Backofen;Johannes Felsenberg" data-journal="Sci Adv" data-year="2022">
    <div class="title" name="Grzejda_Mach_Schweizer-The_long_nonco-2022">
        <a href="https://doi.org/10.1126/sciadv.abo5578">The long noncoding RNA mimi scaffolds neuronal granules to maintain nervous system maturity</a>
    </div>
    <div class="authors">
        Dominika Grzejda, Jana Mach, Johanna Aurelia Schweizer, Barbara Hummel, Andrew Mischa Rezansoff, Florian Eggenhofer, Amol Panhale, Maria-Eleni Lalioti, Nina Cabezas Wallscheid, Rolf Backofen, Johannes Felsenberg and Valerie Hilgers
    </div>
    <div class="journal">
        Sci Adv, 2022
    </div>
    <div class="link">
        <a href="https://doi.org/10.1126/sciadv.abo5578">10.1126/sciadv.abo5578</a>
    </div>
</div>
<div class="publication" data-author="Maryam Najafi;Korbinian M. Riedhammer;Aboulfazl Rad;Paria Najarzadeh Torbati;Riccardo Berutti;Isabel Schule;Sophie Schroda;Thomas Meitinger;Jasmina Comic;Simin Sadeghi Bojd;Tayebeh Baranzehi;Azadeh Shojaei;Anoush Azarfar;Mahmood Reza Khazaei;Anna Kottgen;Rolf Backofen;Ehsan Ghayoor Karimiani;Julia Hoefele" data-journal="Front Pediatr" data-year="2022">
    <div class="title" name="Najafi_Riedhammer_Rad-High_detec_rate-2022">
        <a href="https://doi.org/10.3389/fped.2022.974840">High detection rate for disease-causing variants in a cohort of 30 Iranian pediatric steroid resistant nephrotic syndrome cases</a>
    </div>
    <div class="authors">
        Maryam Najafi, Korbinian M. Riedhammer, Aboulfazl Rad, Paria Najarzadeh Torbati, Riccardo Berutti, Isabel Schule, Sophie Schroda, Thomas Meitinger, Jasmina Comic, Simin Sadeghi Bojd, Tayebeh Baranzehi, Azadeh Shojaei, Anoush Azarfar, Mahmood Reza Khazaei, Anna Kottgen, Rolf Backofen, Ehsan Ghayoor Karimiani, Julia Hoefele and Miriam Schmidts
    </div>
    <div class="journal">
        Front Pediatr, 2022
    </div>
    <div class="link">
        <a href="https://doi.org/10.3389/fped.2022.974840">10.3389/fped.2022.974840</a>
    </div>
</div>
<div class="publication" data-author="Julian Schöllkopf;Thomas Müller;Lena Hippchen;Teresa Müller;Raphael Reuten;Rolf Backofen;Joachim Orth" data-journal="PLoS Pathog" data-year="2022">
    <div class="title" name="Schoellkopf_Mueller_Hippchen-Genom_wide_CRISP-2022">
        <a href="https://doi.org/10.1371/journal.ppat.1010781">Genome wide CRISPR screen for Pasteurella multocidatoxin (PMT) binding proteins reveals LDL ReceptorRelated Protein 1 (LRP1) as crucial cellular receptor</a>
    </div>
    <div class="authors">
        Julian Schöllkopf, Thomas Müller, Lena Hippchen, Teresa Müller, Raphael Reuten, Rolf Backofen, Joachim Orth and Gudula Schmidt
    </div>
    <div class="journal">
        PLoS Pathog, 2022
    </div>
    <div class="link">
        <a href="https://doi.org/10.1371/journal.ppat.1010781">10.1371/journal.ppat.1010781</a>
    </div>
</div>
<div class="publication" data-author="Michael Uhl;Dominik Rabsch;Florian Eggenhofer" data-journal="Bioinformatics" data-year="2022">
    <div class="title" name="Uhl_Rabsch_Eggenhofer-Peakh_indiv_site-2022">
        <a href="https://doi.org/10.1093/bioinformatics/btab755">Peakhood: individual site context extraction for CLIP-seqpeak regions</a>
    </div>
    <div class="authors">
        Michael Uhl, Dominik Rabsch, Florian Eggenhofer and Rolf Backofen
    </div>
    <div class="journal">
        Bioinformatics, 2022
    </div>
    <div class="link">
        <a href="https://doi.org/10.1093/bioinformatics/btab755">10.1093/bioinformatics/btab755</a>
    </div>
</div>
<div class="publication" data-author=" Martin Raden; Teresa Müller; Stefan Mautner; Rick Gelhausen" data-journal="BMC Bioinformatics" data-year="2020">
    <div class="title" name="Raden-IntaRNA-benchmark-2019">
        <a href="https://doi.org/10.1186/s12859-019-3143-4">The impact of various seed, accessibility and interaction constraints on sRNA target prediction - a systematic assessment</a>
    </div>
    <div class="authors">
         Martin Raden,  Teresa Müller,  Stefan Mautner,  Rick Gelhausen and  Rolf Backofen
    </div>
    <div class="journal">
        BMC Bioinformatics, 2020
    </div>
    <div class="link">
        <a href="https://doi.org/10.1186/s12859-019-3143-4">10.1186/s12859-019-3143-4</a>
    </div>
</div>
<div class="publication" data-author=" Teresa Müller; Milad Miladi; Frank Hutter; Ivo Hofacker; Sebastian Will" data-journal="Bioinformatics" data-year="2020">
    <div class="title" name="Mueller-LocalAlign-2020">
        <a href="https://doi.org/10.1093/bioinformatics/btaa431">The locality dilemma of Sankoff-like RNA alignments</a>
    </div>
    <div class="authors">
         Teresa Müller,  Milad Miladi,  Frank Hutter,  Ivo Hofacker,  Sebastian Will and  Rolf Backofen
    </div>
    <div class="journal">
        Bioinformatics, 2020
    </div>
    <div class="link">
        <a href="https://doi.org/10.1093/bioinformatics/btaa431">10.1093/bioinformatics/btaa431</a>
    </div>
</div>
<div class="publication" data-author="Yashar S. Niknafs;Sumin Han;Teng Ma;Corey Speers;Chao Zhang;Kari Wilder-Romans;Matthew K. Iyer;Sethuramasundaram Pitchiaya;Rohit Malik;Yasuyuki Hosono;John R. Prensner;Anton Poliakov;Udit Singhal;Lanbo Xiao;Steven Kregel;Ronald F. Siebenaler;Shuang G. Zhao;Michael Uhl;Alexander Gawronski;Daniel F. Hayes;Lori J. Pierce;Xuhong Cao;Colin Collins;Rolf Backofen;Cenk S. Sahinalp;James M. Rae;Arul M. Chinnaiyan" data-journal="Nat Commun" data-year="2016">
    <div class="title" name="Niknafs_Han_Ma-The_lncRN_lands-2016">
        <a href="https://doi.org/10.1038/ncomms12791">The lncRNA landscape of breast cancer reveals a role for DSCAM-AS1 in breast cancer progression</a>
    </div>
    <div class="authors">
        Yashar S. Niknafs, Sumin Han, Teng Ma, Corey Speers, Chao Zhang, Kari Wilder-Romans, Matthew K. Iyer, Sethuramasundaram Pitchiaya, Rohit Malik, Yasuyuki Hosono, John R. Prensner, Anton Poliakov, Udit Singhal, Lanbo Xiao, Steven Kregel, Ronald F. Siebenaler, Shuang G. Zhao, Michael Uhl, Alexander Gawronski, Daniel F. Hayes, Lori J. Pierce, Xuhong Cao, Colin Collins, Rolf Backofen, Cenk S. Sahinalp, James M. Rae, Arul M. Chinnaiyan and Felix Y. Feng
    </div>
    <div class="journal">
        Nat Commun, 2016
    </div>
    <div class="link">
        <a href="https://doi.org/10.1038/ncomms12791">10.1038/ncomms12791</a>
    </div>
</div>
<div class="publication" data-author="Yasuhiro Murakawa;Michael Hinz;Janina Mothes;Anja Schuetz;Michael Uhl;Emanuel Wyler;Tomoharu Yasuda;Guido Mastrobuoni;Caroline C. Friedel;Lars Dolken;Stefan Kempa;Marc Schmidt-Supprian;Nils Bluthgen;Rolf Backofen;Udo Heinemann;Jana Wolf;Claus Scheidereit" data-journal="Nat Commun" data-year="2015">
    <div class="title" name="Murakawa_Hinz_Mothes-post_regul_mRNA-2015">
        <a href="https://doi.org/10.1038/ncomms8367">RC3H1 post-transcriptionally regulates A20 mRNA and modulates the activity of the IKK/NF-kappaB pathway</a>
    </div>
    <div class="authors">
        Yasuhiro Murakawa, Michael Hinz, Janina Mothes, Anja Schuetz, Michael Uhl, Emanuel Wyler, Tomoharu Yasuda, Guido Mastrobuoni, Caroline C. Friedel, Lars Dolken, Stefan Kempa, Marc Schmidt-Supprian, Nils Bluthgen, Rolf Backofen, Udo Heinemann, Jana Wolf, Claus Scheidereit and Markus Landthaler
    </div>
    <div class="journal">
        Nat Commun, 2015
    </div>
    <div class="link">
        <a href="https://doi.org/10.1038/ncomms8367">10.1038/ncomms8367</a>
    </div>
</div>