html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 50px 50px 100px 50px;
    padding-top: 50px;
    overflow-y: auto;
    height: calc(100vh - 190px); /* subtract the height of the header and the new navbar */
}

.main-content h1 {
    font-size: 2em; /* Moderate increase in size */
    color: #333; /* Maintain dark color for contrast */
    text-transform: none; /* Maintain original case */
    letter-spacing: 0.5px; /* Slight letter spacing */
    border-bottom: 1px solid #ddd; /* Lighter border at the bottom */
    padding-bottom: 0.2em; /* Less padding at the bottom */
    margin-bottom: 0.5em; /* Less margin at the bottom */
}

.main-content h2 {
    color: #344a9a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #344a9a;
    padding-bottom: 5px;
}

@media (max-width: 1200px) {
    .main-content {
        padding-top: 80px;
    }
}

@media (max-width: 690px) {
    .main-content {
        padding-top: 40px;
    }
}

@import "header";
@import "nav";
@import "home";
