.sidebar {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 120px;
    bottom: 0;
    width: 250px;
    background-color: #e0e0e0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
}

.sidebar li {
    border-bottom: 1px solid #ccc;
}

.sidebar a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em; /* Change this value to adjust the size */
    font-weight: 700; /* Bold */
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

.sidebar a.active {
    background-color: #344a9a;
    color: #fff;
}

.sidebar a:hover {
    background-color: #344a9a;
    color: #ffffff;
}
